node-red-import

[
    {
        "id": "517415d81d5f157f",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b97afddb43493b90",
        "type": "mqtt in",
        "z": "517415d81d5f157f",
        "name": "",
        "topic": "canal",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5426bab5b9b813c2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 160,
        "wires": [
            [
                "a2af35b4a7a1f8e9",
                "b1dc0a34a18b3967"
            ]
        ]
    },
    {
        "id": "a2af35b4a7a1f8e9",
        "type": "function",
        "z": "517415d81d5f157f",
        "name": "temp",
        "func": "msg.payload=msg.payload.split(\",\")\nmsg.payload=msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 140,
        "wires": [
            [
                "8b18f40f172b5021"
            ]
        ]
    },
    {
        "id": "b1dc0a34a18b3967",
        "type": "function",
        "z": "517415d81d5f157f",
        "name": "hum",
        "func": "msg.payload = msg.payload.split(\",\")\nmsg.payload = msg.payload[1]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 200,
        "wires": [
            [
                "14f6b2a53ba7ac07"
            ]
        ]
    },
    {
        "id": "8b18f40f172b5021",
        "type": "ui_gauge",
        "z": "517415d81d5f157f",
        "name": "",
        "group": "50033677829d2646",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#005cb3",
            "#e6de00",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "14f6b2a53ba7ac07",
        "type": "ui_gauge",
        "z": "517415d81d5f157f",
        "name": "",
        "group": "50033677829d2646",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 200,
        "wires": []
    },
    {
        "id": "2c50386ce0d58ba6",
        "type": "ui_button",
        "z": "517415d81d5f157f",
        "name": "Relay 1",
        "group": "50033677829d2646",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Relay 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "control/relay1",
        "topicType": "str",
        "x": 540,
        "y": 320,
        "wires": [
            [
                "ced49b0b045827b4"
            ]
        ]
    },
    {
        "id": "2c43aa354d8d4d7f",
        "type": "ui_button",
        "z": "517415d81d5f157f",
        "name": "Relay 2",
        "group": "50033677829d2646",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Relay 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "control/relay2",
        "topicType": "str",
        "x": 540,
        "y": 380,
        "wires": [
            [
                "ced49b0b045827b4"
            ]
        ]
    },
    {
        "id": "9aa99d2cae18bb5f",
        "type": "ui_button",
        "z": "517415d81d5f157f",
        "name": "Relay 3",
        "group": "50033677829d2646",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Relay 3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "control/relay3",
        "topicType": "str",
        "x": 540,
        "y": 440,
        "wires": [
            [
                "ced49b0b045827b4"
            ]
        ]
    },
    {
        "id": "ced49b0b045827b4",
        "type": "mqtt out",
        "z": "517415d81d5f157f",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5426bab5b9b813c2",
        "x": 740,
        "y": 380,
        "wires": []
    },
    {
        "id": "5426bab5b9b813c2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "http://broker.mqttdashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "50033677829d2646",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "62f76409f6b93a68",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "62f76409f6b93a68",
        "type": "ui_tab",
        "name": "Monitoreo",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
